/* CSS declarations go here */
p {
	margin: 20px;font-size: 25px;
}

h1 {
	color: #2C5680;
}

#rock-btn {
	margin: 20px;
	padding: 10px;
	width: 100px;
}
#paper-btn {
	margin: 20px;
	padding: 10px;
	width: 100px;
}
#scissors-btn {
	margin: 20px;
	padding: 10px;
	width: 100px;
}

